div.box{width: 200px; height: 200px;}

.box.purple{background-color: purple;}
.box.blue{background-color: blue;}
.box.yellow{background-color: yellow;}
.box.green{background-color: green;}
.box.pink{background-color: pink;}